body {
	background-color: rgb(34, 33, 44);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.title {
	font-size: 60px;
	color: white;
	margin: 5px 0;
	text-shadow: 4px 4px 8px black;
}

.choices {
	font-size: 30px;
	margin: 5px 0 10px 0;
	text-shadow: 4px 4px 8px black;
	display: flex;
	gap: 50px;
}

#resultHuman {
	color: rgb(255, 90, 31);
	width: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#vs {
	width: 120px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

#resultComputer {
	color: rgb(31, 173, 255);
	width: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#resultFinal {
	font-size: 40px;
	color: white;
	margin: 20px 0 30px 0;
	text-shadow: 4px 4px 8px black;
}

.buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

button {
	background-color: rgb(255, 90, 31);
	color: white;
	border: 0;
	height: 200px;
	width: 400px;
	font-size: 60px;
	border-radius: 50px;
	box-shadow: 4px 4px 20px black;
}

button:hover {
	box-shadow: 0.5px 0.5px 5px black;
}
