body{
    background-color: rgb(34, 33, 44);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

button {
    background-color: rgb(255, 90, 31);
    color: white;
    border: 0;
    height: 200px;
    width: 400px;
    font-size: 60px;
    border-radius: 50px;
}